
@{
    ViewBag.Title = "NewDetail";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/wwwroot/css/chitiettintuc.css">
    <link rel="stylesheet" href="~/wwwroot/css/tuyendung.css">
}
<div class="wrapper">

    <div class="container-content container-fluid">
        <div class="container-content-nav">
            <div class="row container-content-nav-align">
                <div class="col-lg-3 no-marign no-padding">
                    <div class="col-menu-cat">
                        <i class="fa-solid fa-align-left"></i>
                        <span>Danh mục sản phẩm</span>
                    </div>
                </div>
                <div class="col-lg-8 container-content-nav-right-align">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="@Url.Action("Index","Home")">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Introduce")">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","KnowledgeSeafood")">Kiến thức hải sản</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","NewBussiness")">Tin doanh nghiệp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Recruit")">Tuyển dụng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Contact")">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
    <div>
        <p>Home -> Tin doanh nghiệp >></p>
        <hr>
        <div class="row">
            <div class="col-lg-8">
                <h2>
                    Ra mắt website haisan.online – Mục tiêu trở thành số 1 thị trường bán lẻ hải sản tại Việt Nam
                </h2>
                <div class="author">
                    <i class="fa-solid fa-circle-user"></i> <b>Linh Pham</b> Ngày đăng: 14/02/2022
                </div>
                <p>
                    Tháng 11/2022, Cty TNHH BigTown Việt Nam cho ra mắt website bán lẻ trực tuyến sản phẩm hải sản tươi sống online với kỳ vọng trở thành kênh bán lẻ hải sản online lớn nhất Việt Nam.
                </p>
                <p class="anh">
                    <img class="wp-image-133230 size-full aligncenter" src="https://haisan.online/wp-content/uploads/2022/01/haisanonline-banner-1.jpg" alt="haisan.online banner" width="768" height="432" />
                </p>
                <p>
                    Một vài năm trở lại đây, với xu hướng dịch chuyển từ kinh doanh truyền thống sang online, các đơn vị kinh doanh hải sản cũng nhanh chóng nắm bắt được cơ hội để đưa sản phẩm của họ tiếp cận với khách hàng trên nền tảng Internet.
                </p>
                <p>
                    Ngoài ra, với sự tác động khủng khiếp của đại dịch Covid-19, nó làm cho quá trình dịch chuyển này diễn ra cực nhanh chóng. Hành vi mua sắm và tiêu dùng sản phẩm tại nhà trở thành su hướng trong thời điểm hiện nay.

                </p>
                <p>
                    Các cửa hàng hải sản do giới hạn bởi mạng lưới các cửa hàng, nên họ chỉ tập trung khai thác được một thị trường địa phương nhất định. Mà không tận dụng được hết được sức mạnh của kênh marketing online mang lại. Dẫn đến nhiều khách hàng có nhu cầu mua sản phẩm nhưng kênh phân phối không đủ rộng để giao các sản phẩm tươi sống đến tay khách hàng. Vô cùng lãng phí tài nguyên.
                </p>
                <p>
                    Hải sản online ra đời để khách phục vấn đề đó của thị trường. Mô hình kinh doanh của Haisan.online khác biệt hoàn toàn so với các website của các doanh nghiệp kinh doanh hải sản hiện nay. Haisan.online là một thương hiệu, một mô hình kết nối các cửa hàng bán hải sản truyền thống, để tạo ra một mạng lưới kênh phân phối rộng khắp cả nước. Và tất cả các cửa hàng hoạt động online dưới thương hiệu haisan.online.
                </p>
                <p class="anh">
                    <img class="wp-image-133232 size-full aligncenter" src="https://haisan.online/wp-content/uploads/2022/01/haisanonline-banner-3.jpg" alt="haisan.online banner" />
                </p>
                <p>
                    Với định hướng phát triển mạng lưới cửa hàng rộng khắp này, cho phép Haisan.online nhận các đơn hàng của tất cả khách có nhu cầu và vận chuyển các đơn hàng hải sản tươi sống đến khách hàng nhanh chóng mà không bị giới hạn về không gian.
                </p>
                <p>
                    Với ưu thế về mô hình và định hướng tập trung marketing vào thị trường online và giảm chi phí địa điểm bán hàng. Haisan.online đạt mục tiêu sẽ trở thành kênh bán lẻ số 1 trên thị trường Internet vào cuối năm 2023.
                </p>
                <p>
                    Khánh hàng có thể đặt các sản phẩm trên website sản phâm online vô cùng dễ dàng chỉ bằng vài thao tác chuột. Ngay sau đó, sẽ có nhân viên CSKH gọi điện lại xác nhận đơn hàng, lúc đó đơn hàng của bạn đã thành công! Ngoài ra, bạn còn có thể đặt sản phẩm qua hotline hoặc các trang mạng xã hội chính thức của Haisan.online
                </p>
                <p>
                    Với việc thiết kế tối ưu website, hành vi người dùng, loại bỏ các bước không cần thiết và giao diện trực quan. Website sẽ là một kênh mua bán được ưa chuộm bởi người tiêu dùng online trong thời gian tới.
                </p>
                <h2>Cam kết về chất lượng sản phẩm</h2>
                <p>
                    Chúng tôi hiểu, chất lượng sản phẩm quyết định sống còn đến sự tồn tại và phát triển của một thương hiệu. Chính vì thế các sản phẩm hải sản của chúng tôi sẽ phải đạt được các tiêu chuẩn chất lượng cao: đồng đều về size và độ tương sống. Các sản phẩm phải có nguồn gốc xuất xứ rõ ràng.
                </p>
                <p>
                    Hệ thống các cửa hàng hải sản liên kết rộng khắp cho phép chúng tôi triển khai dịch vụ delivery nhanh, giảm thời gian giao hàng đến tay khách hàng thấp nhất. Đảm bảo sản phẩm luôn tươi sống.
                </p>
                <p>
                    Bên cạnh đó, chính sách đổi trả hàng hóa cũng được áp dụng. Nếu các sản phẩm không như kỳ vọng, khách hàng có thể đổi trả dựa theo các điều khoản được quy định cụ thể trong chính sách của haisan.online.
            </div>
            <div class="col-lg-4 widget-footer">
                <div style="height:auto; padding: 20px 10px; box-shadow: 1px 7px 11px -4px #7f8fa6;">
                    <div class="row">
                        <h5><b>TIN GẦN ĐÂY</b></h5>
                        <div class="col-lg-5 block-img">
                            <img class="wp-image-133230 aligncenter" src="https://haisan.online/wp-content/uploads/2022/03/ca-ngu-bao-12-150x150.jpg" alt="haisan.online banner" />
                        </div>
                        <div class="col-lg-7">
                            <p style="font-weight: bold;">
                                Cá Ngừ Bào | Thông Tin Dinh Dưỡng, Giá Cả, Cách Sử Dụng
                            </p>
                        </div>
                        <div class="col-lg-5 block-img">
                            <img class="wp-image-133230 aligncenter" src="https://haisan.online/wp-content/uploads/2022/02/oc-gai-nuong-muoi-ot-7.jpg" alt="haisan.online banner" />
                        </div>
                        <div class="col-lg-7">
                            <p style="font-weight: bold;">
                                Mách Bạn Cách Làm Ốc Gai Nướng Muối Ớt Tại Nhà Siêu Đơn Giản
                            </p>
                        </div>
                        <div class="col-lg-5 block-img">
                            <img class="wp-image-133230 aligncenter" src="https://haisan.online/wp-content/uploads/2022/01/tom-he-25-150x150.jpg" alt="haisan.online banner" />
                        </div>
                        <div class="col-lg-7">
                            <p style="font-weight: bold;">
                                Tôm He: Thông Tin Chi Tiết Đặc Điểm, Giá Cả, Cách Chế Biến
                            </p>
                        </div>
                        <div class="col-lg-5 block-img">
                            <img class="wp-image-133230 aligncenter" src="https://haisan.online/wp-content/uploads/2022/02/oc-mong-tay-lam-mon-gi-ngon-11.jpg" alt="haisan.online banner" />
                        </div>
                        <div class="col-lg-7">
                            <p style="font-weight: bold;">
                                Ốc Móng Tay Làm Gì Ngon? Tổng Hợp 06 Cách Chế Biến Dành Cho Bạn
                            </p>
                        </div>
                        <div class="col-lg-5 block-img">
                            <img class="wp-image-133230 aligncenter" src="https://haisan.online/wp-content/uploads/2022/02/oc-mong-tay-xao-bo-toi-8-1.jpg" alt="haisan.online banner" />
                        </div>
                        <div class="col-lg-7">
                            <p style="font-weight: bold;">
                                Ốc Móng Tay Xào Sả Ớt | Công Thức Chế Biến Tại Nhà Siêu Chuẩn
                            </p>
                        </div>
                    </div>
                </div>
                <div class="ghim" style="height:300px; padding: 20px 10px; box-shadow: 1px 7px 11px -4px #7f8fa6;margin-top: 50px;">
                    <h5><b>CHUYÊN MỤC</b></h5>

                    <ul id="menu-chinh-sach" class="footer-menu">
                        <br>
                        <li id="menu-item-304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-304"><a style="color: #000" href="#"><b>Câu hỏi thường gặp</b></a></li>

                        <hr>
                        <li id="menu-item-305" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-305"><a style="color: #000" href="#"><b>Kiến thức hải sản</b></a></li>

                        <hr>
                        <li id="menu-item-133334" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-privacy-policy menu-item-133334"><a style="color: #000" href="#"><b>Tin khuyến mãi</b></a></li>

                        <hr>
                        <li id="menu-item-133333" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133333"><a style="color: #000" href="#"><b>Tin doanh nghiệp</b></a></li>
                    </ul>

                </div>
            </div>
        </div>
